@model IEnumerable<TiendaOnline.AppMVC.Models.ProductoImagen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoImagenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoImagenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoImagenId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
